
  
  .pagination {    
    gap: 8px;
    list-style: none;
    height: 31.5px;
    width: 1,053px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0px 0px -50px;
    cursor: pointer;
  }
  .page-icons{
    border-radius: 0;
  }
  .actives {
    background-color: #8F19E7;
    color: white;
  }
  
  .page-item {
    list-style: none;
    padding: 2px 11px;
    height: 28px;
    width: 20px;
    display: flex;
    gap: 8%;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    background-color: #EDEDED;
    color: #333333;
  }
  