.add-quiz-container{
    position: absolute;
    background-color: #fff;
    width: 850px;
    padding: 20px 30px;
    border-radius: 15px;
    transform: scale(0.91);
}
.add-quiz-container header{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}
.add-quiz-container header a.back{
    position: absolute;
    left: 0;
    top: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333333;
    font-weight: 400;
    text-decoration: none;
    transition: .15s;
}
.add-quiz-container header a.back:hover{
    color: #8F19E7;
}
.add-quiz-container header h2{
    color: #8F19E7;
    font-size: 24px;
}
.add-quiz-container .add-quiz-body{
    display: flex;
}
.add-quiz-container .add-quiz-body .form{
    width: 50%;
}
.add-quiz-container .add-quiz-body .form .form-field{
    width: 100%;
}
.add-quiz-container .add-quiz-body .form .form-field label{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 8px;
}
.add-quiz-container .add-quiz-body .form .form-field input, .add-quiz-container .add-quiz-body .form .form-field textarea{
    background-color: #EDEDED;
    width: 90%;
    font-size: 14px;
    color: #333333;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: 'Poppins';
    resize: none;
    margin-bottom: 10px;
}
.add-quiz-container .add-quiz-body .form .form-field input::placeholder, .add-quiz-container .add-quiz-body .form .form-field textarea::placeholder{
    opacity: 0.6;
}
.add-quiz-container .add-quiz-body .review-section{
    width: 50%;
}
.add-quiz-container .add-quiz-body .review-section h3{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 8px;
}
.add-quiz-container .add-quiz-body .review-section .review-container{
    width: 100%;
    background-color: #EDEDED;
    height: 87%;
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-quiz-container .add-quiz-body .review-section .review-container .review-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    gap: 15px;
}
.add-quiz-container .add-quiz-body .review-section .review-container .review-row span:nth-child(2){
    text-align: right;
}
.add-quiz-btn{
    float: right;
    margin-top: 50px;
    margin-bottom: 35px;
    width: 150px;
    height: 45px;
    font-size: 17px;
    color: #fff;
    background-color: #8F19E7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .25s;
}
.add-quiz-btn:hover{
    background-color: #a551e6;
}

.add-success{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.add-success h2{
    font-size: 28px;
    font-weight: 600;
    color: #8F19E7;
    margin-bottom: 30px;
}
.add-success img{
    width: 129px;
    margin-bottom: 35px;
}
.add-success p{
    font-size: 16px;
    color: #333333;
    margin-bottom: 35px;
}
.add-success button.finish{
    width: 170px;
    height: 50px;
    font-size: 17px;
    color: #fff;
    background-color: #8F19E7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .25s;
    margin-bottom: 40px;
}
