.logo{
    width: 89.07px;
    Height: 93px;
  }
  .logo-text{
    color: #8F19E7;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  }
  .logo-text1{
    color: #8F19E7;
    line-height: 16px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  }
  .logos{
    display: flex;
    flex-direction: row;
    grid-area: logos;
    align-items: center;
    width: 296px;
    gap: 10px;
    height: 93px;
  }
  