.label{
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-family: "Poppins", sans-serif;

}
.profile-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;

}
.profile-password{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Poppins", sans-serif;

}
.updateProfileForm{
    margin: 0;
    padding: 0;
}
.update-buttonA{
    background-color: rgba(143, 25, 231, 1);
    width: 289px;
    height: 49px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;

}
.updateProfileUser{
    padding: 30px;
    font-family: "Poppins", sans-serif;

}